<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.protest.protesting.mapper.VisitorMapper">

    <insert id="addVisitorInfo" parameterType="VisitorEntity" useGeneratedKeys="true" keyProperty="seq">
        INSERT INTO VISITORS (
        `birthday`,
        `company_seq`,
        `name`,
        `visited_at`,
        `phone_number`,
        `affiliation`,
        `visit_purpose`,
        `manager`,
        `is_passed`
        )
        VALUES
        (#{birthday},
        #{companySeq},
        #{name},
        #{visitedAt},
        #{phoneNumber},
        #{affiliation},
        #{visitPurpose},
        #{manager},
        #{isPassed}
        );
<!--        <selectKey keyProperty="seq" resultType="int" order="AFTER">-->
<!--            SELECT seq-->
<!--            FROM VISITORS-->
<!--            AND company_seq = #{companySeq}-->
<!--            AND phone_number = #{phoneNumber}-->
<!--            AND name = #{name}-->
<!--            AND is_deleted = 0-->
<!--        </selectKey>-->
    </insert>

    <select id="getVisitorCurrentInfo" parameterType="String" resultType="int">
        <![CDATA[
            SELECT COUNT(*) AS nowVisitor FROM VISITORS
            WHERE visited_at >= #{startDate} AND visited_at <= #{endDate}
        ]]>
    </select>

    <select id="getVisitorPassInfo" parameterType="String" resultType="int">
        <![CDATA[
            SELECT COUNT(is_passed) as is_passed FROM VISITORS
            WHERE visited_at >= #{startDate} AND visited_at <= #{endDate}
            AND is_passed = 1
        ]]>
    </select>

    <select id="getVisitorUnPassInfo" parameterType="String" resultType="int">
        <![CDATA[
            SELECT COUNT(is_passed) as is_unPassed FROM VISITORS
            WHERE visited_at >= #{startDate} AND visited_at <= #{endDate}
            AND is_passed = 0
        ]]>
    </select>


    <select id="getVisitorList" parameterType="VisitorListEntity" resultType="VisitorEntity">

        SELECT * FROM
        VISITORS

        <if test='startDate != null'>
            <![CDATA[ WHERE visited_at >= #{startDate} AND visited_at <= #{endDate}]]>
            <if test='keyword != null'>
                AND name LIKE CONCAT('%',#{keyword},'%') OR visit_purpose LIKE CONCAT('%',#{keyword},'%') OR manager LIKE CONCAT('%',#{keyword},'%')
            </if>

            <if test="companySeq != null">
                AND company_seq = #{companySeq}
            </if>
        </if>

        <if test='startDate == null'>
            <if test='keyword != null'>
                WHERE name LIKE CONCAT('%',#{keyword},'%') OR visit_purpose LIKE CONCAT('%',#{keyword},'%') OR manager LIKE CONCAT('%',#{keyword},'%')
            </if>

            <if test="companySeq != null">
                AND company_seq = #{companySeq}
            </if>
        </if>

        ORDER BY `seq` DESC
        <choose>
            <when test='limit != null and offset != null'>
                LIMIT ${limit} OFFSET ${offset}
            </when>
            <otherwise>
                LIMIT 20 OFFSET 0
            </otherwise>
        </choose>
    </select>

    <select id="getVisitor" parameterType="int" resultType="VisitorEntity">
        SELECT * FROM
        VISITORS
        WHERE seq = #{targetSeq}
    </select>
    
    <select id="getVisitorQuestion" parameterType="int" resultType="QuestionnairesEntity">
        SELECT * FROM QUESTIONNAIRES
        WHERE seq IN
        (
            SELECT questionnaire_seq FROM
            VISITOR_QUESTIONNAIRES
            WHERE visitor_seq =
                (SELECT seq FROM VISITORS WHERE seq = #{targetSeq})
        );

    </select>

    <update id="updateVisitorQr" parameterType="VisitorQrEntity">

        UPDATE VISITORS
        SET qr_code = #{qrCode}
        WHERE name = #{name}
        AND company_seq = #{companySeq}
        AND phone_number = #{phoneNumber}
        AND is_deleted = 0
        <selectKey keyProperty="seq" resultType="int" order="AFTER">
            SELECT seq
            FROM VISITORS
            WHERE qr_code = #{qrCode}
            AND company_seq = #{companySeq}
            AND phone_number = #{phoneNumber}
            AND name = #{name}
            AND is_deleted = 0
        </selectKey>

    </update>

    <update id="updateVisitorAt" parameterType="VisitorEntity">
        UPDATE VISITORS
        SET `visited_at` = NOW(), `updated_at` = NOW()
        WHERE seq = #{seq}
        AND is_deleted = 0
    </update>

    <select id="alreadyVisitorInfo" parameterType="VisitorEntity" resultType="VisitorEntity">
        SELECT * FROM VISITORS
        WHERE `company_seq` = #{companySeq}
        AND `name` = #{name}
        AND `phone_number` = #{phoneNumber}
        AND `is_deleted` = 0
        ORDER BY `seq` DESC
        LIMIT 1
    </select>

</mapper>